<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>People</title>
</head>
<body>
	<div th:fragment="imports">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/site.css" />

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="nav">
  <a class="navbar-brand" href="/">Global Cafe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-right" sec:authorize="isAnonymous()">
      <li class="nav-item"><a class="nav-link" href="/account/register">Register</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    </ul>
    
    <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
		<li class="nav-item"><a class="nav-link" href="/cart/">Cart</a></li>
		<li class="nav-item"><a class="nav-link" href="/orders/">Order history</a></li>
		<li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link" href="/products/">Products</a></li>
		<li class="nav-item" sec:authorize="hasAuthority('ADMIN')"><a class="nav-link" href="/people/">People</a></li>
    </ul>
    <ul class="navbar-nav navbar-right" sec:authorize="isAuthenticated()">
      <li class="nav-item"><a class="nav-link" href="/account/update">Update your profile</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>


	<main class="container">
		<a class="btn btn-success" th:href="@{/people/add}"><i class="glyphicon glyphicon-plus"></i> New person</a>
		<table class="table table-hover table-stripped">
			<thead>
				<tr>
					<th>First name</th>
					<th>Last name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="person: ${people}">
					<td th:text="${person.firstName}">Name</td>
					<td th:text="${person.lastName}">Name</td>
					<td th:text="${person.email}">Email</td>
					<td th:text="${person.phone}">Phone</td>
					<td>
						<a class="btn btn-primary" th:href="@{/people/edit/__${person.id}__}">Edit</a>
						<a class="btn btn-danger" th:href="@{/people/delete/__${person.id}__}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>	
	</main>
	<div class="footer">
 	 <p>2018 © All Rights Reserved For Global Cafe</p>
	</div>
</body>
</html>